.solarscore__signin {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.solarscore__signin-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
}

.solarscore__signin-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: -0.04em;
}