.solarscore__navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 6rem;
}

.solarscore__navbar-links-logo img {
    display: flex;
    justify-content: flex-start;
    width: 250px;
    height: 80px;
}

.solarscore__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.solarscore__navbar-sign p {
    color: #0a1b3b;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 3rem;
    cursor: pointer; 
}

.solarscore__navbar-sign button {
    padding: 0.5rem 1rem;
    color: #0a1b3b;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    background: #faaf40;
    border-radius: 5px;
    border: 0;
    outline: none;

    cursor: pointer;
}

.solarscore__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

@media screen and (max-width: 700px)  {
    .solarscore__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px)  {
    .solarscore__navbar {
        padding: 2rem;
    }
}