.solarscore__header {
    display: flex;
    flex-direction: row; 

}

.solarscore__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
   
    margin-right: 3rem;
}

.solarscore__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.solarscore__header-content p {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    
    color:#13100D;
    margin-top: 1.5rem;
}

.solarscore__image{
    flex: 1;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 150%;
    height: 150%;
}

.solarscore__signup_button {
  margin: 2.5rem 0rem;
} 

.solarscore__signup_button button {
    padding: 1rem 5rem;
    color: #0a1b3b;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    background: #faaf40;
    border-radius: 30px;
    border: 0;
    outline: none;
    margin: 0rem;

    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .solarscore__header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .solarscore__header p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 750px) {
    .solarscore__header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .solarscore__header p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .solarscore__header h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .solarscore__header p {
        font-size: 14px;
        line-height: 24px;
    }
}
