.solarscore__signup {
    display: flex;
    flex-direction: column;
}

.solarscore__signup-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 2rem;
    padding: 4rem 8rem;
    
}

.solarscore__signup-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: -0.04em;
}


.solarscore__signup-content h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: rgb(197, 17, 17);
    line-height: 50px;
    letter-spacing: 0.0em;
}

.solarscore__label {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    
    color:#0a1b3b;
    margin-top: 1.5rem;
}

.solarscore__signup-button {
    padding: 0.5rem 3rem;
    color: #0a1b3b;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    background: #faaf40;
    border-radius: 10px;
    border: 0;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
}

.solarscore__signup-messagebox {
    border: 0; 
    padding: 10px; 
    width: 200%;
    height:10%;
    margin:0;
    float:left;
    box-sizing: border-box;
    border-radius: 5px;
    background-color:#E8F0FE;

}