.solarscore__prediction {
    display: flex;
    flex-direction: column;
}

.solarscore__prediction-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 5rem 8rem;
}

.solarscore__prediction-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color:#0a1b3b;
}

.solarscore__prediction-content p1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.0em;
    color:#0a1b3b; 
    margin-bottom: 1rem;
}

.solarscore__prediction-content p2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.0em;
    color:#0a1b3b; 
    margin: 1rem 0rem;
}

.solarscore__prediction-button {
    padding: 0.5rem 2rem;
    color: #0a1b3b;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    background: #faaf40;
    border-radius: 10px;
    border: 0;
    outline: none;
    margin-top: 2rem;
    cursor: pointer;
}
